body {
    margin:0;
    font-family: Georgia,'Times New Roman',Times,serif;
    background-color: #9eabf4;

}
nav.bar{
    display:flex;
    justify-content: space-between;
    align-items: centre;
    background-color: #2c3e50;
    padding:15px 30px;
    position:sticky;
    top:0;

}
.logo{
    color:rgb(104, 67, 174);
    font-size:22px;
    font-weight: bold;


}
nav a{ 
    color: rgb(64, 146, 132);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;

}
nav a:hover{
    color:#1abc9c;

}
.hero{
    text-align:center;
    padding:60px 20px;
background:white;
}
section{
    background: white;
    margin:20px auto;
    padding:20px;
    width:80%;
    max-width:700px;
    border-radius:8px;
    
}
h2{color:#2c3e50;
}
ul{
    list-style:none;
    padding:0;

}
ul li{
    background:#ddd;
    margin:5px;
    padding:8px;
    border-radius:5px;

}
html{
    scroll-behavior:smooth;

}
